@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Sansita+Swashed&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sansita Swashed', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
}

#cardform {
	border: 3px solid black;
	box-shadow: 10px 10px 5px grey;
	min-height: 380px;
}

.card {
	margin-top: 30px;
}

.navbar-brand {font-family: 'Sansita Swashed', cursive;}

h1 {
	padding-top: 10px;
	font-family: 'Sansita Swashed', cursive;
	text-align: center;
	text-shadow: 5px 5px 8px grey;
}

h2{
	font-size: 20px;
}

.RecRow,
.addButton,
.googlelogin {
	margin-top: 10px;
}

table {
	margin-top: 10px;
}




